.colorPick {
  padding-top: 20px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.row {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
td, tr {
  border: 1px black solid;
  padding: 20px;
}

.display_row_col{
  display: flex;
  width: 500px;
  margin:auto;
  padding-left: 330px;
  margin-top: 20px;
}
.display_row_col > p{
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
}
#my-table{
  margin-top: 40px;
}